@import "tailwindcss";

/* Ensure the root and body occupy the full viewport */
@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
/* Custom Scrollbar for the Glassy Modal */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}